[build]
  publish = "."

[[redirects]]
  from = "/admin"
  to = "/public/admin/index.html"
  status = 200

[[redirects]]
  from = "/admin/*"
  to = "/public/admin/:splat"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
